<div class="container-sm">
  <table width="100%" [cellPadding]="0" [cellSpacing]="0">
    <tbody>
      <tr>
        <td height="4px"></td>
      </tr>
      <tr>
        <td valign="top" height="425px">
          <strong class="center"><h1>Company Profile</h1></strong>
          <table width="100%">
            <tbody>
              <tr>
                <td>
                  <h1>Introduction</h1>
                  <p>
                    Erstwhile Chhattisgarh State Electricity Board (CSEB) was responsible for Generation,
                    Transmission and Distribution of electricity in Chhattisgarh State. In accordance
                    with the provisions contained in the Section 131-134 of Electricity Act 2003, Govt.
                    of Chhattisgarh has reorganized erstwhile CSEB into following five companies vide
                    Notification No. F1-8/ 2008/ 13/ 1 dated 19.12.2008 :-<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    • Chhattisgarh State Power Holding Company Limited,
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    • Chhattisgarh State Power Generation Company Limited,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    • Chhattisgarh State Power Transmission Company Limited,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    • Chhattisgarh State Power Distribution Company Limited and<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    • Chhattisgarh State Power Trading Company Limited
                    <br>
                    Accordingly Chhattisgarh State Power Distribution Company Limited (CSPDCL) came
                    into existence w.e.f. 01.01.2009. CSPDCL provides electricity to consumers across
                    the Chhattisgarh State.<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h1>
                    <strong>Registration No.</strong>
                  </h1>
                  <p>
                    Chhattisgarh State Power Distribution Company Limited has been registered
                    by the ‘Registrar of Companies MP &amp; CG’ with Registration No.<strong> U40108 CT 2003
                      PLC 15822</strong>.<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h1>
                    <strong>CIN No.</strong>
                  </h1>
                  <p>
                    CIN No. of CSPDCL <strong>U40108 CT 2003 SGC 015822</strong></p>
                </td>
              </tr>
              <tr>
                <td>
                  <h1>
                    <strong>PAN No.</strong>
                  </h1>
                  <p>
                    PAN No. of CSPDCL <strong>AADCC6047K</strong></p>
                </td>
              </tr>
              <tr>
                <td>
                  <h1>
                      <strong>GST Identification No.</strong></h1>
                  <p>
                      GST Identification No. <strong>22AADCC6047K1ZR</strong></p>
              </td>
              </tr>
              <tr>
                <td> <h1>
                  <strong>Registered Office</strong></h1>
              <p>
                  &nbsp;&nbsp;Vidyut Seva Bhavan,
                  <br>
                  &nbsp;&nbsp;Danganiya,<br>
                  &nbsp;&nbsp;Raipur (CG) 492013
              </p></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
