<table dir="ltr" border="0" cellpadding="0" class="TableBG container-sm  " cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td valign="top" width="1%"></td>
      <td valign="top">
        <table x:str="" align="center" border="0" cellpadding="1" cellspacing="0" width="100%" id="table1">
          <tbody>
            <tr>
              <td colspan="7">
                <h1 class="fs-3 p-3"><strong>Board of Directors</strong></h1><br>
              </td>
            </tr>
            <tr class="p-3 mb-2 bg-secondary text-white">
              <td></td>
              <td></td>
              <td>Name</td>
              <td>Designation</td>
              <td></td>
              <td>Contact No.</td>
              <td></td>
            </tr>
            <tr>
              <td colspan="7">
                <hr>
              </td>
            </tr>
            <tr>
              <td></td>
              <td rowspan="7">
                <img border="0" src="images\ShriRohitYadav_Chairman.jpg" width="100" height="136">
              </td>
              <td class="style4">Dr. Rohit Yadav</td>
              <td>Chairman &amp;</td>
              <td>Office</td>
              <td>0771-2574000</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td></td>
              <td class="style4">[IAS]</td>
              <td>Secretary,</td>
              <td>Fax No.</td>
              <td>0771-4028882</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td>Energy Department </td>
              <td>VoIP No.</td>
              <td>102</td>
              <td></td>

            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td>Govt. of CG </td>
              <td>PLCC No.</td>
              <td>062-31</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td class="style41"> </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>

            </tr>
            <tr>
              <td colspan="7">
                <hr>
              </td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td rowspan="7"><img border="0" src="images\MD CSPDCL.jpg" width="100" height="136"></td>

              <td class="style4">Shri Bhim Singh Kanwar<br>
              </td>
              <td>Managing Director</td>
              <td>Office</td>
              <td>0771-2574200</td>
              <td>4066902</td>
            </tr>
            <tr class="AlternateChange">
              <!--<td></td>
      <td class="style4"></td>
      <td>&nbsp;</td>
      <td>Fax No.</td>
      <td>4066566</td>
      <td></td>-->
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td>&nbsp;</td>
              <td>VoIP No.</td>
              <td>142</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td class="style3">PLCC No.</td>
              <td class="style3"></td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>e-Mail Id:</td>
              <td>mddiscom&#64;cspc.co.in</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>mddiscom&#64;gmail.com</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td class="style3"></td>
              <td class="style5"></td>
              <td class="style26"></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="style3"></td>
            </tr>

            <tr>
              <td colspan="7">
                <hr>
              </td>
            </tr>
            <tr>
              <td></td>
              <td rowspan="7"><img border="0" src="images\Mukesh_IAS_NomDir.jpg" width="100" height="136"></td>

              <td class="style4">Shri Mukesh Bansal<br>
              </td>
              <td>Nominee Director</td>
              <td>Office</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <!--<td></td>
      <td class="style4"></td>
      <td>&nbsp;</td>
      <td>Fax No.</td>
      <td>4066566</td>
      <td></td>-->
            </tr>
            <tr>
              <td></td>
              <td class="style4">[IAS]</td>
              <td>&nbsp;</td>
              <td>VoIP No.</td>
              <td>&nbsp;<!--132--></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td class="style3">PLCC No.</td>
              <td class="style3">&nbsp;<!--Plcc no.--></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>e-Mail Id:</td>
              <td>&nbsp;<!--mail--></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;<!--mail2--></td>
              <td></td>
            </tr>
            <tr>
              <td class="style3"></td>
              <td class="style5"></td>
              <td class="style26"></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="style3"></td>
            </tr>

            <tr>
              <td colspan="7">
                <hr>
              </td>
            </tr>

            <tr class="AlternateChange">
              <td></td>
              <td rowspan="7">
                <img border="0" src="images\MD_Generation.jpg" width="100" height="136">
              </td>
              <td class="style4">Shri Sanjiv Kumar Katiyar<br>
              </td>
              <td>Director</td>
              <td>Office</td>
              <td>0771-2574400</td>
              <td>&nbsp;</td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td>&nbsp;</td>
              <td>Fax No.</td>
              <td>0771-2262741</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td>&nbsp;</td>
              <td>VoIP No.</td>
              <td>122</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style10"></td>
              <td></td>
              <td class="style11">PLCC No.</td>
              <td class="style44">4400</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style12"></td>
              <td></td>
              <td>e-Mail Id:</td>
              <td>mdgenco&#64;cspc.co.in</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>
            </tr>
            <tr class="AlternateChange">
              <td class="style3"></td>
              <td class="style5"></td>
              <td class="style3"></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="style3"></td>
            </tr>


            <tr>
              <td colspan="7">
                <hr>

              </td>
            </tr>


            <tr>
              <td></td>
              <td rowspan="7">
                <img src="images\director_PradeepJi.jpg" width="100" height="136">
              </td>
              <td class="style4">Shri Pradeep Fellows<br>
              </td>
              <td>Nominee Director</td>
              <td>Office</td>
              <td>011-24369690</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td>(Executive Director- RECPDCL)</td>
              <td>Fax No.</td>
              <td>011-24365815</td>
              <td></td>
            </tr>


            <tr>
              <td></td>
              <td class="style4"></td>
              <td>&nbsp;</td>
              <td>e-Mail Id:</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="style4"></td>
              <td></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td></td>
            </tr>
            <tr>
              <td class="style3"></td>
              <td class="style5"></td>
              <td class="style3"></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="style3"></td>
            </tr>


          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
@if (false) {
<table width="95%" align="center">
  <tbody>
    <tr>
      <td>
        <h1 class="style1">
          <strong> &nbsp;&nbsp; &nbsp;Company Mission</strong>
        </h1>
        <p>
          &nbsp;&nbsp;
          To establish Chhattisgarh State Power Distribution Company Limited as
          one of the best power <br>&nbsp;&nbsp;&nbsp;distribution company in India by
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          • adopting best business practices <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          • implementing modern technology in the business<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• reducing distribution losses<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• providing reliable and quality power to the consumers at
          affordable rates <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• providing power supply to the consumers 24 Hours x 365
          days<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• providing consumer satisfaction through service
          excellence<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• implementing policies supporting faster economic growth of
          CG State<br>

        </p>
      </td>
    </tr>

  </tbody>
</table>
}
